# Created by Thiago Mallon <thiagomallon@gmail.com>

snippet fdoc
	/*
	 * Author: Thiago Mallon <thiagomallon@gmail.com>
	 */
	
snippet main
	${1} main(${2}) {
		${3}
	}

snippet inc
	#include ${1}

snippet incs
	#include <stdio.h> 
