# create a new component class
snippet ccls
	/** @author James Mallon <jamesmallondev@gmail.com>
	 * Component $1
	 */ 
	import React, {Component} from 'react'

	/**
	 * @class $1
	 */
	class ${1:} extends Component {
		state = {}
		render() {
			return (${2})
		}
	}

	export default $1
