# Created by Thiago Mallon <thiagomallon@gmail.com>

snippet sep
	# --------------------------------------------------------------------------------- 

snippet shb
	#!/usr/bin/python3
	# Author: Thiago Mallon <thiagomallon@gmail.com>

snippet fun
	def ${1}(${2}):
		${3}
