# Created by Thiago Mallon <thiagomallon@gmail.com>

snippet sep
	# --------------------------------------------------------------------------------- 

snippet sepx
	###################################################################################

snippet shb
	#!/bin/bash
	# Author: Thiago Mallon <thiagomallon@gmail.com>
